<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/index.css') }}">



        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <meta http-equiv="Content-Type" content="text/php; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {# </head> #}
        <div class="wrap">
                <div class="header">
                    <div class="logo">
                        <a href="home"><img src="{{ asset('images/logo.jpg') }}" alt="logo" style="width: 200px; height: 150px;" /></a>
                    </div>
                    <div class="header_top_right">
                        <div class="search_box">
                            <form>
                                <input type="text" value="Search for Products" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search for Products';}"><input type="submit" value="SEARCH">
                            </form>
                        </div>
                        
                        <div class="shopping_cart">
                            <div class="cart">
                                <a href="#" title="View my shopping cart" rel="nofollow">
                                        <span class="cart_title">Cart</span>
                                        <span class="no_product">(empty)</span>
                                    </a>
                                </div>
                        </div>
                        {% if app.user %}
                            {{ app.user.email }}
                            <a href="/logout">Logout</a>
                        {% else %}
                            
                            <a href="/login">Login</a>
                        {% endif %}
                {#
                <div class="login">
                    <a 
                    href="/{{ app.user ? 'logout' : 'login' }}" 
                    @click="isOpen = felse">
                     {{ app.user ? 'logout' : 'login' }}
                    </a>
                </div>
                #}
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="menu">
            <ul id="dc_mega-menu-orange" class="dc_mm-orange">
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('product_show') }}">Products</a> </li>
            <li><a href="{{ path('car_list') }}">List Car</a></li>
            <li><a href="{{ path('add_car') }}">Addcar</a> </li>
            <div class="clear"></div>
            </ul>
        </div>

        {% block body %}{% endblock %}
    </body>
    <footer>
        <div class="footer">
        <div class="wrapper">	
            <div class="section_group">
                    <div >
                            <h4>Information</h4>
                            <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#"><span>Advanced Search</span></a></li>
                            <li><a href="#">Orders and Returns</a></li>
                            <li><a href="#"><span>Contact Us</span></a></li>
                            </ul>
                        </div>
                    <div >
                        <h4>Why buy from us</h4>
                            <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="faq.html">Customer Service</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="contact.html"><span>Site Map</span></a></li>
                            <li><a href="preview.html"><span>Search Terms</span></a></li>
                            </ul>
                    </div>
                    <div >
                        <h4>My account</h4>
                            <ul>
                                <li><a href="contact.html">Sign In</a></li>
                                <li><a href="index.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="faq.html">Help</a></li>
                            </ul>
                    </div>
                    <div >
                        <h4>Contact</h4>
                            <ul>
                                <li><span>+88-01713458599</span></li>
                                <li><span>+88-01813458552</span></li>
                            </ul>
                            <div class="social-icons">
                                <h4>Follow Us</h4>
                                <ul>
                                    <li class="facebook"><a href="#" target="_blank"> </a></li>
                                    <li class="twitter"><a href="#" target="_blank"> </a></li>
                                    <li class="googleplus"><a href="#" target="_blank"> </a></li>
                                    <li class="contact"><a href="#" target="_blank"> </a></li>
                                    <div class="clear"></div>
                                </ul>
                            </div>
                    </div>
                </div>
        </div>
    </footer>
</html>
