{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add a New car</h1>
    {{ form_start(form) }}
    {{ form_row(form.namecar) }}
    {{ form_row(form.price) }}
    {{ form_row(form.imageFile) }}
    <button type="submit">Add car</button>
    {{ form_end(form) }}
{% endblock %}