{% extends 'base.html.twig' %}
{% block title %}web cars{% endblock %}

{% block body %}

<body>
    <h1> List all Cars </h1>

    <table class="car-table"> 
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        {% for car in cars %}
            <tr class="car-row">
                <td>{{ car.id }}</td>
                <td>{{ car.namecar }}</td>
                <td>{{ car.price }}</td>
                <td class="car-image-cell">
                    <img 
                        class="car-image"
                    src="{{ asset('uploads/image/' ~ car.image) }}" alt="{{ car.namecar }} Image">
                    </td>
                {# <td>{{ car.image}}</td> #}
                <td class="car-actions">
                <a class="action-link" href="{{ path('view_car', {'id': car.id}) }}">View Details</a>
                <a class="action-link" href="{{ path('edit_car', {'id': car.id}) }}">Edit</a>
                <a class="action-link" href="{{ path('delete_car', {'id': car.id}) }}" onclick="return confirm('Are you sure you want to delete this car?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}
